#MyAPPP {
    max-width: 1280px;
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
    padding-top: 0;
    margin-bottom: 100px;
  }
.gameComp{
    display: flex;
    width: 600px;
    height: 400px;
    background-color: #6e64ff73;
    box-shadow: 0 0 100px  #6e64ff73;

    border-radius: 30px;
    transition: filter 300ms;
    overflow: hidden;
}

.gameComp:hover{
    filter: drop-shadow(0 0 2em #fa64ff73);
}

.gameCompUl{
    display: flex;
    width: 600px;
    height: 400px;

    border-radius: 30px;
    transition: filter 300ms;
}

.gameCompUl > ul{
    padding: 0px;
}

.showPage2Li{
    overflow: hidden;
    padding: 5px;
    align-items: end;
    justify-content: center;
    display: flex;
    width: 16ex;
    height: 70ex;
    background-color: #6e64ff73;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
    /* box-shadow:  0 0 50px #6e64ff73; */

    list-style-type: none;
    display: inline-flex;

    border-radius: 30px;
    transition: all 300ms ease-in-out;
}

.showPage2Li:hover{
    filter: drop-shadow( 0 0 2em #6e64ff73);
    width: 10em;
    color: #6e64ff;
}

.showPage2Li.active{
    flex: 10;
}


#li1{

    background-image: url('https://sun9-78.userapi.com/impg/ix-3DX9UeMwmuqZ0sxo0jBPLeBd8VXWfjIyAmQ/XpbPc6ujWLY.jpg?size=1080x1920&quality=95&rotate=270&sign=aba7491c089310f8d734c4654bdd6fa2&type=album');
}
#li2{

    background-image: url('https://sun9-46.userapi.com/impg/G7DTh69kmrcpWJTTWDDdWsk67wbcYAgd_25dCA/qsJSsEXDd_A.jpg?size=1399x1417&quality=95&sign=e5f5ed12e57d5e6f0feb657693e1f4e1&type=album');
}
#li3{

    background-image: url('https://kartinki.pics/uploads/posts/2021-07/1625871920_7-kartinkin-com-p-mislitel-art-art-krasivo-7.jpg');
}
#li4{

    background-image: url('https://sun9-2.userapi.com/impg/r4OLhmVBs0t2Jo3F7_MKzAPD4WHglqheSOYt3Q/n5x1FJh2Lek.jpg?size=1890x1417&quality=95&sign=f92bd1cfa038db4967bec117e07221d7&type=album');
}
h1 {
    height: 300px;
    font-size: 3.2em;
    line-height: 1.1;
    /* padding-left: 10px; */
    width: 80%;
  }

h2 {
    /* font-size: 2.2em;
    line-height: 1.1; */
    padding-left: 10px;
    width: 100%;
    margin: 0;
  }

  