img{
    width: 120px;
  }

#iconHtml{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-image: url('/public/htmlicon.png');
    transition: 300ms ease-in-out;
}
#iconHtml:hover{
    filter: drop-shadow(0 0 10px #ff8864aa);
    transition: 300ms ;
}

#iconCss{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-image: url('/public/cssIcon.png');
    transition: 300ms ease-in-out;
}
#iconCss:hover{
    filter: drop-shadow(0 0 10px #6495ffaa);
    transition: 300ms ;
}

#iconJs{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-image: url('/public/jsicon.png');
    transition: 300ms ease-in-out;
}
#iconJs:hover{
    filter: drop-shadow(0 0 10px #fff564aa);
    transition: 300ms ;
}

#iconFlutter{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-image: url('/public/flutterIconn.png');
    transition: 300ms ease-in-out;
}
#iconFlutter:hover{
    filter: drop-shadow(0 0 10px #6495ffaa);
    transition: 300ms ;
}




#iconFigma{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-image: url('/public/figmaIcon.png');
    transition: 300ms ease-in-out;
}
#iconFigma:hover{
    filter: drop-shadow(0 0 10px #ffa264aa);
    transition: 300ms ;
}

#iconTilda{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-image: url('/public/tildaIcon.png');
    transition: 300ms ease-in-out;
}
#iconTilda:hover{
    filter: drop-shadow(0 0 10px #eaedf5aa);
    transition: 300ms ;
}

#iconPs:hover{
    filter: drop-shadow(0 0 10px #0043d4aa);
    transition: 300ms ;
}

#iconPs:hover{
    width: 200px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-image: url('/public/photoshop.png');
    transition: 300ms ease-in-out;
}



#iconArtstation{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-image: url('/public/artstationIcon.png');
    transition: 300ms ease-in-out;
}

#iconArtstation:hover{
    width: 200px;
   height: 50px;
   background-size: cover;
   background-position: center;
   background-image: url('/public/ArtStMe.png');
   /* filter: drop-shadow(0 0 10px #039affaa); */
   transition: all 300ms;
 
 }

